[submodule "proto"]
	path = proto
	url = https://github.com/lieferemma/api
[submodule "grpc-web-proxy"]
	path = grpc-web-proxy
	url = https://github.com/lieferemma/grpc-web-proxy
[submodule "sqlx"]
	path = sqlx
	url = git@github.com:launchbadge/sqlx.git
